ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-linkedin-square:hover{
    color: #FEE2B3;
}

.fa-github-square:hover{
    color: #FEE2B3;
}

.page-footer{
    background-color: #AD6989;
}

.footer-copyright{
    background-color: #c481a0;
}
