/* ! Fontes */

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}







/* ! Cores */

.color{
    background-color: #FEE2B3;
}

.text-welcome{
    color: #AD6989;
}

.text-btn{
    color: #AD6989;
}

.btn-outline-light{
    color: #AD6989;
}

.navtext-color{
color: #AD6989;
}